$home-content: rgba(255,255,255,0.8);

body {
    background: url(/static/images/bg.jpg) no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}
h1 {
    margin-top: 50px;
}
input.search {
    background-color: $home-content;
    margin: 50px 0;
    &:focus {
        background-color: $home-content;
    }
}
.recipe.row {
    background-color: $home-content;
    height: 50px;
}
