$home-content: rgba(255,255,255,0.9);

body {
    background: url(/static/images/bg.jpg) no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}
body {
    font-family: 'Josefin Sans', sans-serif;
    padding-bottom: 80px;
}
h1 {
    margin: 30px 0;
}
button, input, .tooltip {
    font: inherit;
}
a {
    color: black;
    &:focus, &:hover {
        color: black;
        text-decoration: none;
    }
}
.content {
    background-color: $home-content;
    margin: 0 auto;
    max-width: 1250px;
    padding-bottom: 50px;
}

/* Nav bar */
div.row.navig {
    padding-top: 10px;
}
a.navig {
    display: inline-block;
    margin-right: -4px;
    position: relative;
    width: 14%;
    &:hover:after {
        background-color: black;
        bottom: 0;
        content: '';
        height: 1px;
        position: absolute;
        width: 77px;
    }
    &.home:after, &.back:after {
        left: 0;
    }
    &.settings:after {
        right: 0;
        width: 90px;
    }
}
a.nav-home {
    position: relative;
    &:hover:after {
        background-color: black;
        content: '';
        height: 1px;
        position: absolute;
    }
    &.add:after {
        bottom: -7px;
        left: 0;
        width: 156px;
    }
    &.settings:after {
        bottom: -12px;
        right: 0;
        width: 88px;
    }
}
span.navig {
    display: inline-block;
    margin-right: -4px;
    position: relative;
    width: 58%;
    img.search {
        right: 1px;
        top: 1px;
    }
}
img.navig {
    height: 40px;
    &.back, &.settings {
        position: relative;
        top: 2px;
    }
    &.back {
        left: 3px;
    }
}
div.nav-label {
    height: 50px;
}
img.search {
    position: absolute;
    width: 34px;
}

/* Home page */
img.add {
    height: 50px;
}
span.add-label {
    position: relative;
    top: -5px;
}
div.search.container {
    margin-bottom: 30px;
}
input.search {
    background-color: $home-content;
    &:focus {
        background-color: $home-content;
    }
}
img.search.home {
    right: 16px;
    top: 1px;
}
.recipe {
    display: inline-block;
    height: 255px;
    margin-right: -4px;
    padding: 10px;
    vertical-align: top;
    width: 1/3 * 100%;
    &:hover {
        border: 1px solid black;
        border-color: #5cb3fd;
        border-radius: 0.25rem;
        padding: 9px;
    }
    .image {
        display: block;
        height: 200px;
        margin-bottom: 5px;
        overflow: hidden;
        img {
            min-height: 100%;
            object-fit: cover;
            width: 100%;
        }
    }
    .name {
        display: inline-block;
        line-height: 35px;
        width: 80%;
    }
}
img.icon {
    width: 30px;
}

/* View page */
img.view {
    margin-bottom: 30px;
    max-height: 300px;
}
div.label {
    font-size: 24px;
}
div.ingredients {
    columns: 2;
}
li.direction {
    font-weight: bold;
    span, textarea {
        font-weight: normal;
    }
}
form.delete {
    margin: 0 auto;
}

/* Add page */
div.add.name {
    margin-bottom: 30px;
    margin-top: 30px;
    input {
        font-size: 30px;
    }
}
label.upload {
    margin-bottom: 20px;
}
input.ingredient, textarea.direction {
    display: inline-block;
    padding-right: 35px;
}
textarea.direction {
    font: inherit;
    vertical-align: top;
}
li.add {
    position: relative;
    &:not(:last-child) {
        margin-bottom: 10px;
    }
}
label.upload {
    &:hover {
        cursor: pointer;
    }
    img {
        width: 40px;
    }
}
div.add-button {
    position: absolute;
    right: 9px;
    top: -7px;
    width: 48px;
    &:hover {
        cursor: pointer;
    }
}
div.delete {
    right: -5px;
    position: absolute;
    top: -5px;
    width: 48px;
    &:hover {
        cursor: pointer;
    }
}
button.submit {
    background-color: white;
    border: 1px solid black;
    margin-top: 30px;
    &:hover {
        background-color: rgba(0,0,0,0.3);
        color: white;
        cursor: pointer;
    }
}

/* Ingredients list */
.subtitle {
    margin-bottom: 30px;
    margin-top: -20px;
}
li.ingredient-only {
    font-size: 20px;
}
