{% extends "base.html" %}
{% load static %}
{% block content %}
{% include "nav.html" %}

<form action="{% url 'add' %}" method="post">
<div class="container add">
    <div class="row">
        <div class="col-8 push-2 add name">
            <input class="form-control" type="text" name="RecipeName" placeholder="Enter recipe name">
        </div>
    </div>
    <div class="row">
        <div class="col-12 text-center">
            <label class="upload" for="files">
                <img class="upload" src="{% static 'images/camera.svg' %}">
                <span>Upload an Image</span>
            </label>
            <input id="files" style="display:none;" type="file">
        </div>
    </div>
    <div class="row">
        <div class="col-6">
            <div class="label">Ingredients</div>
            <div class="add-button ingredient">
                <img src="{% static 'images/plus.svg' %}">
            </div>
            <ul>
                <li class="add">
                    <input class="form-control ingredient" type="text" name="Ingredients[]" placeholder="Enter ingredient">
                    <div class="delete">
                        <img src="{% static 'images/cross.svg' %}">
                    </div>
                </li>
            </ul>
        </div>
        <div class="col-6">
            <div class="label">Directions</div>
            <div class="add-button direction">
                <img src="{% static 'images/plus.svg' %}">
            </div>
            <ol>
                <li class="add direction">
                    <textarea class="form-control direction" name="Directions[]" placeholder="Enter direction"></textarea>
                    <div class="delete">
                        <img src="{% static 'images/cross.svg' %}">
                    </div>
                </li>
            </ol>
        </div>
        <div class="col-12 text-center">
            <button type="submit" class="btn submit">Submit</button>
        </div>
        {% csrf_token %}
    </div>
</div>
</form>
{% endblock content %}
