{% extends "base.html" %}
{% block content %}
{% include "nav.html" %}

<div class="container">
    <div class="row">
        <div class="col-12">
            <h1 class="text-center">{{ recipe.RecipeName }}</h1>
        </div>
        <div class="col-12">
            <h4 class="text-center subtitle">Ingredient List</h4>
        </div>
        <div class="col-12">
            <ul>
            {% for ingredient in recipe.Ingredients %}
                <li class="ingredient-only">{{ ingredient }}</li>
            {% endfor %}
            </ul>
        </div>
    </div>
</div>

{% endblock content %}
