{% extends "base.html" %}
{% block content %}
{% include "nav.html" %}

<div class="container">
    <div class="row">
        <div class="col-12">
            <h1 class="text-center">{{ recipe.RecipeName }}</h1>
        </div>
    </div>
    <div class="row">
        <div class="col-8 push-2 text-center">
            <img class="img-fluid view" src="{{ recipe.ImageURL }}">
        </div>
    </div>
    <div class="row">
        <div class="col-6 label">Ingredients</div>
        <div class="col-6 label">Directions</div>
    </div>
    <div class="row">
        <div class="col-6 ingredients">
            <ul>
            {% for ingredient in recipe.Ingredients %}
                <li>{{ ingredient }}</li>
            {% endfor %}
            </ul>
        </div>
        <div class="col-6">
            <ol>
            {% for direction in recipe.Directions %}
                <li>{{ direction }}</li>
            {% endfor %}
            </ol>
        </div>
    </div>
    {% comment %}
    <div class="row">
        <form action="{% url 'view' recipe.RecipeName %}" method="post">
            <button type="submit" class="btn btn-danger">Delete</button>
            {% csrf_token %}
        </form>
    </div>
    {% endcomment %}
</div>

{% endblock content %}
